*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(123, 123, 255); 
}

::-webkit-scrollbar-thumb:hover {
    background: #4a77ff; 
}
.upper-shape{
    background-color: rgb(123, 123, 255);
    width: 100%;
    height: 55px;
}
.back-button{
    background: transparent;
    width: 50px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 5px;
    margin-top: 8px;
    border-style: solid;
    color: white;
    border-color: white;
}
.about{
    font-size: 30px;
    text-transform: uppercase;
    font-family: sans-serif;
    color: green;
    margin-top: 15px;
    margin-left: 30px;
    font-weight: bold;
}
.mission{
    font-size: 30px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(105, 105, 255);
    margin-top: 30px;
    margin-left: 30px;
}
.info-mission{
    font-size: 25px;
    font-family: sans-serif;
    color: black;
    margin-left: 30px;
    margin-top: 5px;
}
.vision{
    font-size: 30px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(105, 105, 255);
    margin-left: 30px;
    margin-top: 10px;
}
.info-vision{
    font-size: 25px;
    font-family: sans-serif;
    color: black;
    margin-top: 5px;
    margin-left: 30px;
}
.values{
    font-size: 30px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(105, 105, 255);
    margin-top: 10px;
    margin-left: 30px;
}
.info-values{
    font-size: 25px;
    margin-left: 30px;
    margin-top: 10px;
    font-family: sans-serif;
}
.bottom-banner-about{
    width: 100%;
    height: 230px;
    background-image:linear-gradient(rgba(172,187,121,0.75),rgba(172,187,121, 0.75)), url(images/spring-flowers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 18px;
    position: relative;
}
.assistance{
    font-family: sans-serif;
    float: left;
    font-weight: bold;
    color: white;
    font-size: 50px;
    margin-top: 30px;
    margin-left: 70vh;
}
.contact-us{
    background-color: transparent;
    width: 140px;
    height: 80px;
    color: white;
    float: right;
    border-color: white;
    margin-top: 12px;
    margin-right: 90vh;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 20px;
    border-style: solid;
    font-weight: bold;
    cursor: pointer;
}
.bottom-shape{
    background-color: rgb(123, 123, 255);
    float: left;
    width: 100%;
    height: 20px;
    position: relative;
    margin-top: 17px;
}
/****************** JAVASCRIPT ******************/
.hidden-about{
    opacity: 0;
    transition: all 1s;
    transform: translateY(-100%);
}
.show-about{
    opacity: 1;
    transform: translateY(0);
}
.hide-headline{
    opacity: 0;
    transition: all 2s;
    transform: translateY(-100%);
}
.show-headline{
    transform: translateY(0%);
    opacity: 1;
}
.assistant{
    opacity: 0;
    transition: all 1s;
    transform: translateY(100%);
}
.show-assistance{
    opacity: 1;
    transform: translateY(0%);
}

@media screen and (max-width: 1000px) {
    .bottom-banner-about{
        width: 100%;
        height: 200px;
        background-image:linear-gradient(rgba(172,187,121,0.75),rgba(172,187,121, 0.75)), url(images/spring-flowers.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 260px;
        position: relative;
    }
    .assistance{
        font-family: sans-serif;
        float: left;
        font-weight: bold;
        color: white;
        font-size: 50px;
        margin-top: 15px;
        margin-left: 18vh;
    }
    .contact-us{
        background-color: transparent;
        width: 220px;
        height: 80px;
        color: white;
        float: right;
        border-color: white;
        margin-right: 25vh;
        margin-bottom: 20px;
        margin-top: 10px;
        border-radius: 10px;
        text-transform: uppercase;
        font-size: 30px;
        border-style: solid;
        font-weight: bold;
        cursor: pointer;
    }
    .bottom-shape{
        background-color: rgb(123, 123, 255);
        float: left;
        width: 100%;
        height: 20px;
        position: relative;
        margin-top: 20px;
    }
}
/************** MOBILE DEVICE *****************/
@media screen and (max-width: 600px) {
    .about{
        font-size: 15px;
        text-transform: uppercase;
        font-family: sans-serif;
        color: green;
        margin-top: 15px;
        margin-left: 10px;
        font-weight: bold;
    }
    .mission{
        font-size: 15px;
        text-transform: uppercase;
        font-family: sans-serif;
        font-weight: bold;
        color: rgb(105, 105, 255);
        margin-top: 30px;
        margin-left: 10px;
    }
    .info-mission{
        font-size: 15px;
        font-family: sans-serif;
        color: black;
        margin-left: 10px;
        margin-top: 5px;
    }
    .vision{
        font-size: 15px;
        text-transform: uppercase;
        font-family: sans-serif;
        font-weight: bold;
        color: rgb(105, 105, 255);
        margin-left: 10px;
        margin-top: 15px;
    }
    .info-vision{
        font-size: 15px;
        font-family: sans-serif;
        color: black;
        margin-top: 5px;
        margin-left: 10px;
    }
    .values{
        font-size: 15px;
        text-transform: uppercase;
        font-family: sans-serif;
        font-weight: bold;
        color: rgb(105, 105, 255);
        margin-top: 20px;
        margin-left: 10px;
    }
    .info-values{
        font-size: 15px;
        margin-left: 10px;
        margin-top: 10px;
        font-family: sans-serif;
    }
    .bottom-banner-about{
        width: 100%;
        height: 115px;
        background-image:linear-gradient(rgba(172,187,121,0.75),rgba(172,187,121, 0.75)), url(images/spring-flowers.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 253px;
        position: relative;
    }
    .assistance{
        font-family: sans-serif;
        float: left;
        font-weight: bold;
        color: white;
        font-size: 20px;
        margin-top: 15px;
        margin-left: 14vh;
    }
    .contact-us{
        background-color: transparent;
        width: 80px;
        height: 40px;
        color: white;
        float: right;
        border-color: white;
        margin-right: 18vh;
        margin-bottom: 20px;
        margin-top: 10px;
        border-radius: 10px;
        text-transform: uppercase;
        font-size: 10px;
        border-style: solid;
        font-weight: bold;
        cursor: pointer;
    }
    .bottom-shape{
        background-color: rgb(123, 123, 255);
        float: left;
        width: 100%;
        height: 20px;
        position: relative;
        margin-top: 20px;
    }
}