* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(123, 123, 255);
}

::-webkit-scrollbar-thumb:hover {
    background: #4a77ff;
}

.upper-shape {
    background-color: rgb(123, 123, 255);
    width: 100%;
    height: 55px;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 12%;
    cursor: pointer;
    margin-top: -20px;
    margin-bottom: -20px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    color: black;

}

.navbar ul li a {
    text-decoration: none;
    color: rgb(123, 123, 255);
    font-size: 25px;
    font-display: arial;
    font-family: sans-serif;
}

.bottom-shape {
    background-color: rgb(123, 123, 255);
    float: left;
    width: 100%;
    height: 20px;
    position: relative;
    margin-top: 17px;
}

.image-slideshow {
    width: 100%;
    height: 200px;
    position: relative;
    margin: auto;
    margin-top: 10px;
}

img {
    width: 100%;
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: .5
    }

    to {
        opacity: 1
    }
}

.bottom-s {
    background-color: rgb(123, 123, 255);
    float: left;
    width: 100%;
    height: 18px;
    position: relative;
    margin-top: 328px;
}
/******** TABLET ***********/
@media screen and (max-width: 1000px) {
    .navbar {
        width: 85%;
        margin: auto;
        padding: 35px 0;
        display: grid;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }
    
    .navbar ul li {
        list-style: none;
        display: inline-block;
        margin: 2 5px;
        color: black;
        margin-top: 7px;
    }
    .logo {
        width: 100%;
        cursor: pointer;
        margin-top: -30px;
        margin-bottom: -20px;
    }
    .navbar ul li a {
        text-decoration: none;
        color: rgb(123, 123, 255);
        font-size: 40px;
        font-display: arial;
        font-family: sans-serif;
        font-weight: bold;
    }
    .bottom-s {
        background-color: rgb(123, 123, 255);
        float: left;
        width: 100%;
        height: 18px;
        position: relative;
        margin-top: 90px;
    }
}
/******** MOBILE DEVICe ********/
@media screen and (max-width: 500px) {
    .bottom-s {
        background-color: rgb(123, 123, 255);
        float: left;
        width: 100%;
        height: 18px;
        position: relative;
        margin-top: 0;
    }
    .navbar {
        width: 85%;
        margin: auto;
        padding: 35px 0;
        display: grid;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }
    
    .navbar ul li {
        list-style: none;
        display: inline-block;
        margin: 2 5px;
        color: black;
        margin-top: 7px;
    }
    .logo {
        width: 100%;
        cursor: pointer;
        margin-top: -30px;
        margin-bottom: -20px;
    }
    .image-slideshow {
        width: 100%;
        height: 200px;
        position: relative;
        margin: auto;
        margin-top: 5px;
    }
    .navbar ul li a {
        text-decoration: none;
        color: rgb(123, 123, 255);
        font-size: 40px;
        font-display: arial;
        font-family: sans-serif;
        font-weight: bold;
    }
}
